<template>
  <q-page>
    <div class="row">
      <div class="col-12">
        <ParallaxVid />
      </div>
    </div>
  </q-page>
</template>

<script>
import ParallaxVid from 'components/ParallaxVid.vue'

export default {
  name: 'PageIndex',
  components: { ParallaxVid },
}
</script>
