<template>
  <div class="pa-0">
    <q-parallax>
      <template v-slot:media>
        <video width="1260" height="800" poster="https://siasky.net/CAAtPghneglpW9lWEARgEbU-VzY0ljFzzDBZFx83nl2GLA#t=20,50" autoplay loop muted>
          <source type="video/webm" src="https://siasky.net/CAAtPghneglpW9lWEARgEbU-VzY0ljFzzDBZFx83nl2GLA#t=20,50">
          <source type="video/mp4" src="https://siasky.net/CAAtPghneglpW9lWEARgEbU-VzY0ljFzzDBZFx83nl2GLA#t=20,50">
        </video>
      </template>

      <h3 class="text-white">Video</h3>

      <template v-slot:content="scope">
        <div
          class="absolute column items-center"
          :style="{
            opacity: 0.45 + (1 - scope.percentScrolled) * 0.55,
            top: (scope.percentScrolled * 60) + '%',
            left: 0,
            right: 0
          }"
        >
          <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" style="width: 150px; height: 150px">
          <div class="text-h3 text-white text-center">Quasar Framework</div>
          <div class="text-h6 text-grey-3 text-center">
            v{{ $q.version }}
          </div>
        </div>
      </template>
    </q-parallax>
  </div>
</template>

<script>
export default {
  name: 'ParallaxVid',
}
</script>

<style>
video {
    object-fit: fill;
}
</style>